.Input {
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display:block;
    margin: 8px;
    text-align: left;
}

.InputElement {
    outline:none;
    border:1px solid #ccc;
    font:inherit;
    background-color: white;
    padding:6px 10px;
    display: block;
    width: 100%;
    margin:0 auto;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}